## The planet express configuration file
Startup checklist
engines: {{ enginetype }}
weapons: {{ weapontype }}
cargo: {{ pecargo }}
price: {{ shipprice }}


Other important stuff while i wait for people to finish typing
Wallawallawashington

Wakanda
